:root {
  --color-bg-light: #f9f9f9;
  --color-text-light: #222;
  --color-bg-dark: #222;
  --color-text-dark: #f9f9f9;
  --color-primary: #1da1f2;
  --color-button-bg: #333;
  --color-button-bg-hover: #555;
  --transition-speed: 0.4s;
  --color-gray-hover: #666666;
}
